* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.content {
    padding: 20px;
    text-align: center;
}

.main-header {
    background-color:  #ffffff;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 25px;
}

.main-nav a {
    text-decoration: none;
    color: #555;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 5px;
    transition: 0.3s;
    border-bottom-color: 0.3s;
}

.main-nav a:hover {
    color:#007bff;
    border-bottom: 2px solid #007bff;
}